@import '../../Assets/scss/styles.scss';


.autresServicesBox{
    height:500px;
    // background:goldenrod;
    overflow: hidden;
    position:relative;

    min-height:540px;

    @include lg{
        height:88vh;
    }

    .sliderText{
        // background:green;
        position:absolute;

        display:flex;
        flex-direction: row;
        width:400%;
        top:20px;
        // right:100%;
        right:-200%;
        z-index: 2;

        @include lg{
            height:100vh;
        }
        
        


        
        .sliderTextUnique{
            width:100%;
            padding:0 31px;
            box-sizing: border-box;

            @include lg{
                height:88vh;
                display:flex;
                flex-direction: column;
                justify-content: center;

                margin-left:80px;

                @include rwd(1250){
                    margin-left:130px;
                }
                @include rwd(1500){
                    margin-left:180px;
                }
                @include rwd(1700){margin-left:300px;}
                @include rwd(2000){margin-left:320px;}
                @include rwd(2400){margin-left:410px;}
            }
            
            

            h1{
                font-weight: 300;
                font-size: 27px;
                line-height: 1.29;
                letter-spacing: -0.84px;
                max-width:280px;

                @include lg{
                    font-size: 45px;
                    line-height: 1.17;
                    max-width:400px;
                    // width:800px;
                    // background:green;
                }

                @include rwd(1140){
                    font-size: 52px;
                    max-width:600px;
                }

                

                @include xxl{
                    font-size: 60px;
                    line-height: 1.17;
                    max-width:700px;
                }

                @include qhd{
                    font-size: 70px;
                    line-height: 1.17;
                    max-width:900px;
                }
            }

            h2{
                font-size: 14px;
                font-weight: 300;
                letter-spacing: -0.38px;
                margin-left:10px;
                padding-top:7px;

                @include lg{
                    width:50px;
                    // background:blue;
                    margin-left:15px;
                }

                @include qhd{font-size: 18px;padding-top:10px;}
            }

            .sliderTitrePrincipal{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                max-width:280px;
                @include lg{
                    max-width:400px;
                }
                @include rwd(1140){
                    max-width:600px;
                }

                @include xxl{
                    max-width:700px;
                }
            }

                .sliderTitrePrincipalSuiv, .sliderSousTitrePrincipalSuiv{
                    transform:translateX(-85px);

                    @include lg{
                        transform:translateX(-250px);
                    }

                    @include rwd(1600){
                        transform:translateX(-450px);
                    }
                    @include rwd(2400){
                        transform:translateX(-520px);
                    }
                }

            p{
                font-size: 16px;
                font-weight: 300;
                line-height: 1.63;
                margin-top:10px;

                max-width:260px;

                @include lg{
                    max-width:400px;
                    margin-top:40px;

                    font-size: 17px;
                    line-height: 1.5;
                    letter-spacing: -0.48px;
                }

                
                @include rwd(1140){
                    font-size: 18px;
                    max-width:500px;
                }

                @include qhd{
                    font-size: 20px;
                    line-height: 1.6;
                    margin-top:55px;
                }
            }

            .autreServiceButton{
                margin-top:30px;
                font-size: 16px;
                line-height: 1.88;
                letter-spacing: -0.38px;

                // border-bottom:1px solid white;
                padding-bottom:5px;
                width:120px;
                display: flex;
                flex-direction: row;
                align-items: center;
                color:white;
                position: relative;

                &:before{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    top:35px;
                    // top:0px;
                    background-color: rgb(255, 255, 255);
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                }
        
                &:hover:before{
                    visibility: visible;
                    width: 100%;
                }

                @include lg{
                    margin-top:40px;
                }

                @include qhd{margin-top:55px;}
                
                span{
                    display: block;
                }
                svg{
                    display: block;
                    height:14px;
                    margin-left:15px;
                    padding-bottom:3px;
                }
            }
        }


        // .sliderTextPrec{background:purple;}
        // .sliderTextActuel{}
        // .sliderTextSuiv{background:orange;}
        // .sliderTextSuivSuiv{background:yellow;}

    }

    .sliderIMG{
        // width:calc(100% - 62px);
        max-width:350px;
        height:200px;

        display: flex;
        align-items: center;
        justify-content: center;

        position:absolute;
        bottom:0;
        left:31px;
        right:31px;
        // background:blue;
        // transform: translateX(-50%);

        z-index: 1;
        @include lg{
            left:unset;
            right:50px;
            height:460px;
            width:300px;

            top: 50%;
            transform: translateY(-50%);
        }

        @include rwd(1140){
            right:80px
        }

        @include rwd(1250){
            right:100px
        }
        
        @include rwd(1360){
            height:552px;
            width:360px;
            right:120px;
            max-width:unset;
        }

        @include rwd(1500){right:160px;}
        @include rwd(1600){right:190px;}
        @include rwd(1700){
            right:260px;
            height:580px;
            width:400px;
        }

        @include rwd(1800){
            right:310px;
            height:600px;
            width:420px;
        }

        @include rwd(2000){
            right:320px;
        }

        @include rwd(2200){
            right:320px;
            height:740px;
            width:500px;
        }

        @include rwd(2400){
            right:440px;
        }

        .sliderIMG_IMG{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .sliderIMG_IMGActu{
            z-index:4;
        }
        .sliderIMG_IMGPrec{
            position:absolute;
            bottom:0;
            right: 100vw;
            z-index:5;
        }

        .sliderIMG_IMGSuiv{
            position:absolute;
            bottom:0;
            left: 95vw;
            z-index:5;
        }
    }



    .sliderNavPC{
        // width:150px;
        // height:70px;
        // background:red;
        position:absolute;
        bottom:5vh;
        left:27px;
        cursor:pointer;
        display: flex;
        flex-direction: row;
        z-index:5;

        margin-left:80px;
        

        @include rwd(1250){
            margin-left:130px;
        }
        @include rwd(1500){
            margin-left:180px;
        }
        @include rwd(1700){margin-left:300px;}
        @include rwd(2000){margin-left:320px;}
        @include rwd(2400){margin-left:410px;}
        
        @include qhd{
            bottom:9vh;
        }

        .sliderNavPointer{
            cursor:pointer;
            // background:red;

            .sliderNavPointerBouton{

                // cursor:pointer;
            }
        }

        .slideNavCommun{
            width:55px;
            // cursor:pointer;
            display: block;
        }

        .sliderNavPCPrec{
            transform: rotate(180deg);
        }

        .sliderNavPCSuiv{
            margin-left:20px;
            margin-top:4px;
        }
    }
}