@import "../../Assets/scss/styles.scss";

@font-face {
  font-family: "ABCFavorit-Regular";
  src: url("../../Assets/fonts/ABCFavorit-Regular.woff2") format("woff2"),
    url("../../Assets/fonts/ABCFavorit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCFavorit-Light";
  src: url("../../Assets/fonts/ABCFavorit-Light.woff2") format("woff2"),
    url("../../Assets/fonts/ABCFavorit-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.retouchesMobile {
  .accroche {
    padding: 115px 32px 26px 32px;

    span {
      font-size: 16px;
      font-weight: 300;
    }

    h1 {
      font-size: 25px;
      font-weight: 300;
      margin-top: 36px;
      margin-bottom: 32px;
    }

    p {
      font-size: 15px;
      line-height: 25px;
      font-weight: 300;
      margin-bottom: 32px;
    }

    .retouche {
      height: 300px;
      text-align: center;
      margin-bottom: 32px;
      position: relative;

      .old {
        content: " ";
        width: 85px;
        height: 122px;
        background-color: #d9d9d9;
        margin-right: 20px;
        position: relative;
        top: 39px;
      }

      .new {
        content: " ";
        width: 140px;
        height: 200px;
        background-color: #cbbfbf;
      }

      .gif {
        width: 55%;
      }
    }

    .scrollDownButtonBox {
      text-align: center;
    }
  }

  .galerie {
    width: 100%;

    .row {
      width: 100%;
      height: 50vw;

      div {
        width: 50vw;
        height: 50vw;

        img {
          width: 50vw;
        }
      }

      .imgLeftBox {
        float: left;

        img {
          background-color: #d9d9d9;
        }
      }

      .imgRightBox {
        float: right;

        img {
          background-color: #cbbfbf;
        }
      }
    }
  }

  .tarifs {
    width: 100%;
    background-color: black;
    color: white;
    padding: 32px;
    box-sizing: border-box;

    h2 {
      font-size: 24px;
      font-weight: light;
      margin-bottom: 24px;
    }

    .package {
      width: 100%;
      border-radius: 12px;
      background-color: white;
      color: black;
      padding: 24px 24px 15px 24px;
      box-sizing: border-box;
      margin-bottom: 39px;

      .title {
        font-size: 24px;
        margin-bottom: 32px;
      }

      hr {
        margin-bottom: 9px;
      }

      .price {
        font-size: 26px;
      }
    }
  }
}
.onQuotation {
  transition: all 1.5s ease;
  span {
    text-decoration: none;
  }
}
.contactButtonRetouches {
  width: 18px;
  transform: rotate(315deg);
  margin-right: 7px;
  position: relative;
  top: 2px;
}

.contactForm {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  font-weight: 900;
}

.contactForm:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #000;
  width: 0;
  transition: all 0.5s;
}

.contactForm:hover:before {
  width: 100%;
}

.retouchesDesktop {
  .accroche {
    padding: 208px 180px 108px 180px;
    text-align: center;

    .flexContainer {
      display: flex;
      justify-content: space-between;
      text-align: left;
      height: 420px;

      .left {
        width: 10%;
        margin-top: 49px;

        .nosServices {
          font-family: "ABCFavorit-Light";
          font-size: 14px;
        }
      }

      .center {
        width: 34%;
        margin-top: 49px;

        h1 {
          font-size: 60px;
          font-weight: 300;
        }

        p {
          font-size: 15px;
          margin-top: 13px;
          line-height: 25px;
        }
      }

      .right {
        width: 34%;

        .retouche {
          width: 100%;
          position: relative;

          .old {
            width: 160px;
            height: 230px;
            background-color: #d9d9d9;
            position: absolute;
            top: 0;
            left: 0;
          }

          .retouch {
            width: 258px;
            height: 371px;
            background-color: #cbbfbf;
            position: absolute;
            top: 49px;
            left: 104px;
            z-index: 5;
          }

          .gif {
            width: 80%;
          }
        }
      }
    }
  }

  .galerie {
    width: 100%;
    display: flex;

    .firstSquare {
      width: 25%;
      height: 25vw;

      img {
        width: 100%;
        height: 100%;
        background-color: #d9d9d9;
      }
    }

    .secondSquare {
      width: 25%;
      height: 25vw;

      img {
        width: 100%;
        height: 100%;
        background-color: #cbbfbf;
      }
    }

    .thirdSquare {
      width: 25%;
      height: 25vw;

      img {
        width: 100%;
        height: 100%;
        background-color: #d9d9d9;
      }
    }

    .fourthSquare {
      width: 25%;
      height: 25vw;

      img {
        width: 100%;
        height: 100%;
        background-color: #cbbfbf;
      }
    }
  }

  .tarifs {
    background-color: black;
    padding: 60px 71px;

    h2 {
      font-size: 36px;
      color: white;
    }

    .flexContainer {
      display: flex;
      gap: 38px;
      margin-top: 50px;
      width: 100%;
      box-sizing: border-box;
      flex-wrap: wrap;

      .package {
        background-color: white;
        border-radius: 12px;
        padding: 24px 24px 17px 24px;
        height: 200px;
        flex: 1 1 30%;
        position: relative;
        box-sizing: border-box;
        max-width: calc(33% - 6.5px);
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.05);
        }

        .title {
          font-size: 32px;
        }

        hr {
          position: absolute;
          bottom: 78px;
          stroke: #d8d8d8;
          width: calc(100% - 48px);
          box-sizing: border-box;
        }

        .price {
          font-size: 48px;
          position: absolute;
          bottom: 17px;
          left: 24px;
        }
      }
    }
  }

  .bandeau {
    padding: 39px 71px;
    box-sizing: border-box;
    margin-bottom: 10px;

    h3 {
      font-size: 36px;
      font-weight: 300;
      line-height: 48px;
    }

    span {
      font-size: 28px;
      font-weight: 300;
      line-height: 48px;
    }
    .onQuotation {
      transition: all 1.5s ease;
      span {
        text-decoration: none;
      }
    }
    .contactButtonRetouches {
      width: 28px;
      transform: rotate(315deg);
      margin-left: 15px;
      margin-right: 7px;
      position: relative;
      top: 2px;
    }

    .contactForm {
      text-decoration: none;
      position: relative;
      overflow: hidden;
      transition: all 0.5s;
      font-weight: 900;
    }

    .contactForm:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      background-color: #000;
      width: 0;
      transition: all 0.5s;
    }

    .contactForm:hover:before {
      width: 100%;
    }
  }
}

// VERSION 2

.retouches-pages {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  user-select: none;
  .info-paragraph {
    width: 331px;
    position: relative;
    bottom: 15%;
    // margin-top: 25px;
  }
  .retouches-menu {
    // position: relative;
    // top: 21%;
  }
  .carousel-container {
    width: 40% !important;
  }
  .menu {
    padding-left: 51px;
    width: 30%;
    /* position: relative; */
    /* top: 18%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    ul {
      margin: 0;
      padding: 0;
      li {
        cursor: pointer;
        list-style: none;
        font-size: 22px;
        // padding-bottom: 5px;
      }
    }
  }

  .carousel {
    height: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    position: relative;
    // top: 17%;
    // padding-left: 51px;
    padding-right: 51px;

    .prix {
      .circle {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: solid black 2px;
        .prix-ht {
          font-size: 20px;
          padding-bottom: 5px;
          text-align: center;
        }
        .indication {
          font-size: 12px;
        }
      }
    }
  }
}

.imageRetouche {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  // min-height: 400px;
  // max-height: 400px;
  object-fit: contain;
}

.noActive {
  display: none;
}

.hoverImage {
  display: none;
}

.hoverActive {
  display: block;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  object-fit: contain;
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  .active {
    display: block;
  }
}

.controllers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  // top: 25%;
  bottom: 0;
  z-index: 10;
}

.control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.leftControl {
  top: 50%;
  right: 100%;
  // transform: translateY(-50%);
}

.rightControl {
  top: 50%;
  left: 100%;
  // transform: translateY(-50%);
}

.imagesContainer {
  display: none;
}

.fade {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.imagesContainer {
  position: absolute;
  opacity: 0;
}

.active {
  position: relative;
  opacity: 1;
}

.imagesContainer.active {
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagesContainer.noActive {
  // transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Animation soulignement
.underline {
  position: relative;
  display: inline-block;
}

.underline:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease-out;
}

.underline.active:before,
.underline:hover:before {
  width: 100%;
}

.cat {
  // margin-bottom: 5px;
}

// CAROUSEL

.fade {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade:not(.active) {
  opacity: 0;
  transition: none;
}

// .imageRetouche {
//   transition: opacity 0.5s ease-out;
// }
@media only screen and (min-width: 1024px) {
  .imageRetouche {
    max-width: 100%;
    min-width: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: contain;
  }
}

.imageRetouche.fade-out {
  opacity: 0;
}

.image-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.image-inactive {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.beauty-retouche {
  position: relative;
  // top: 20%;
  // padding-right: 51px;
}

// Carousel

// .image-transition {
//   transition: transform 0.5s ease-in-out;
// }

.initialPosition {
  transform: translateX(0%);
}

.image.active {
  transform: translateX(0%);
  transition: transform 1s ease-out;
}

// Retouches mobiles

.retouches-pages-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  user-select: none;
  font-size: 100%;
  padding-top: 115px;
  .menu {
    .info-paragraph {
      width: 80%;
    }
  }
  .info {
    padding-left: 32px;
    padding-right: 32px;
    // margin-top: 55px;
    .info-paragraph {
      width: 100%;
      margin-top: 25px;
    }
  }
  .beauty-retouche {
    width: 100%;
    top: 0;
    padding-right: 51px;
    margin-bottom: 50px;
    h3 {
      margin-top: 10px;
      font-size: 100%;
    }
  }
  .menu-post-prod-mobile {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .prix {
      padding-right: 32px;
      .circle {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid black 2px;
        .prix-ht {
          font-size: 18px;
          padding-bottom: 5px;
          text-align: center;
        }
        .indication {
          font-size: 12px;
        }
      }
    }
  }
  .carousel-container {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .info {
      width: 100%;
      padding-left: 32px;
      .info-paragraph {
        width: 100%;
        margin-top: 25px;
      }
    }
  }
  .mobile-menu {
    display: flex;
  }
  .menu {
    padding-left: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // position: relative;
    // top: 18%;
    h1 {
      font-size: 25px;
      margin-bottom: 15px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        cursor: pointer;
        list-style: none;
      }
    }
  }
  .carousel {
    height: 100%;
  }
}

.carousel-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  .imageRetouche {
    max-width: 100%;
    min-width: 100%;
    // min-height: 400px;
    // max-height: 400px;
    object-fit: contain;
  }
  .images-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .img-container {
    width: 300px;
    height: 400px;
    padding: 5px;
    .imageRetouche {
      width: 100%;
      // height: 100%;
      // object-fit: cover;
      // padding: 20px;
    }
  }

  .controllers {
    .leftControl {
      margin-left: 32px;
    }
    .rightControl {
      margin-right: 32px;
    }
  }

  .before-after {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    .ba {
      width: 50%;
    }
  }
  .noActive {
    display: none;
  }

  .hoverImage {
    display: none;
  }

  .hoverActive {
    display: block;
    max-width: 100%;
    min-width: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: contain;
  }

  .carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .active {
      display: block;
    }
  }

  .controllers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  .control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
  }

  .leftControl {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
  }

  .rightControl {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }

  .imagesContainer {
    display: none;
  }

  .fade {
    transition: opacity 0.5s ease-in-out;
  }

  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    opacity: 1;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
  }

  .imagesContainer {
    position: absolute;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
  }

  .active {
    position: relative;
    opacity: 1;
    // padding-left: 32px;
    // padding-right: 32px;
    padding-left: 31px;
    padding-right: 31px;
  }

  .imagesContainer.active {
    // transform: translateX(0);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imagesContainer.noActive {
    // transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // Menu retouches

  // Animation soulignement
  .underline {
    position: relative;
    display: inline-block;
  }

  .underline:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-out;
  }

  .underline.active:before,
  .underline:hover:before {
    width: 100%;
  }

  .cat {
    margin-bottom: 5px;
  }

  // CAROUSEL

  .fade {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .fade:not(.active) {
    opacity: 0;
    transition: none;
  }

  .imageRetouche {
    transition: opacity 0.5s ease-out;
  }

  .imageRetouche.fade-out {
    opacity: 0;
  }

  .image-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  }

  .image-inactive {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  }

  .beauty-retouche {
    position: relative;
    top: 20%;
    padding-right: 51px;
  }

  // Carousel

  .image-transition {
    transition: transform 0.5s ease-in-out;
  }

  .initialPosition {
    transform: translateX(0%);
  }

  .image.active {
    transform: translateX(0%);
    transition: transform 1s ease-out;
  }
}

.retouches-pages-mobile {
  justify-content: center;
  .retouches-menu {
    padding-top: 10px;
    position: relative;
  }
}
// Reouches menu mobile

.SliderTop {
  img {
    width: 80%;
    height: 100%;
  }
}

// Carousel
.imagesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.types {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hoverImage {
  display: none;
}

.hoverActive .hoverImage {
  display: block;
}

.retouche-carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retouches-pages-mobile {
  .retouche-carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
